@model IEnumerable<TVGuide.Models.Channel>

@{
    ViewData["Title"] = "STAR TV Guide Administration Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>STAR TV Guide Administration Panel</h1>

<p>
    <a asp-action="Create">Create New Channel</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                EPG XML ID
            </th>
            <th>Package</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Logo)" style="max-height:25px; max-width:50px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdXML)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Channels" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>