@model TVGuide.Models.ViewModel
@{
    ViewData["Title"] = Model.channel.Name;
}
<center>
  <h1><img src="@Model.channel.Logo" style="max-width: 30%; max-height: 30%"/></h1>  
<form asp-controller="Channels" asp-action="AddFavorite"  asp-route-IdChannel="@Model.channel.Id" method="post">
    <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-heart"></i> Add to my favorites</button>
</form>
<br />
<a asp-action="Package" asp-route-id="@Model.channel.Package?.Id" ><img src="@Model.channel.Package?.Logo" style="max-height: 10%; max-width: 10%; align-self:flex-end" /></a>
</center>

              @{int i = 0;}

            @foreach(var day in Model.programs)
            {
                var culture = System.Threading.Thread.CurrentThread.CurrentCulture;
                <hr />
                <h2>@day.First().Start.ToString("dddd",culture)</h2>
<div class="container table-responsive">
        <table class="table table-striped">
        <tbody>
            @foreach(Programme prg  in day) 
                {
                    i++;
                 
             <tr data-toggle="modal" data-target="#exampleModal_@i">
                        <td>@prg.Start.ToString("HH:mm")</td>
                        <td><img src="@prg.Image" height="25"/> <b>@prg.Title</b> @if (prg.Start <= DateTime.Now && prg.Stop >= DateTime.Now)
                            {
                                <img src="~/images/live.gif" style="height: 1rem;" />
                            }
                        </td>
                        <td>@prg.Category</td>
                        <td>@if (!string.IsNullOrEmpty(prg.Image) && !string.IsNullOrEmpty(prg.Description))
                            {
                                <button class="btn btn-outline-danger"> <i class="fa-solid fa-info"></i></button>
                            }
                        </td>
                    </tr>




         <div id="exampleModal_@i" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><img src="@Model.channel.Logo" height="30" /> @prg.Title</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" role="post">
                            <center>
                                @if(!string.IsNullOrEmpty(prg.Image))
                                {
                                    <img src="@prg.Image" style="max-width:100%" />
                                }
                                else
                                {
                                    <img src="@Model.channel.Logo"  style="max-width:100%" />
                                }
                                </center>
                        <h5>@prg.Start.ToString("HH:mm") - @prg.Stop.ToString("HH:mm")</h5>
                        <b>@prg.Category</b>
                        <p>@prg.Description</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                }    

            
    </tbody>
    </table>
</div>
            }
            
