@model TVGuide.Models.ViewModel

@{
    ViewData["Title"] = "Channel Page";
}

<center>
<img src="@Model.channel.Logo" style="max-width: 500px"/>
</center>
<br />
<hr/>
<div class="container">

@foreach(Programme programme in Model.programs) 
{

    <div class="row">
    <div class="col-10">
        <p>@programme.Start.ToString("HH:mm") - @programme.Title</p>
        <p>@programme.Category</p>
        <p style="color: #5b5b5b">@programme.Description</p>
    </div>
            @if(!string.IsNullOrEmpty(@programme.Image))
            {
                    <div class="col-2">
                <img src="@programme.Image" class="img-thumbnail" style="width: 400px;float: right;"/>
            </div>                
            }

    </div>
    <hr />
}

</div>