@model TVGuide.Models.ViewModel

@{
    ViewData["Title"] = "Channel Page";
}


<h1>@Model.channel.Name</h1>
<img src="@Model.channel.Logo" style="height: 150px;" />


<h2>Programme of the day - @DateTime.Today.ToString("dd-MM-yyyy")</h2>

@foreach(Programme programme in Model.programs) 
{
    <h3>@programme.Title</h3>
    <p>@programme.Start.TimeOfDay - @programme.Stop.TimeOfDay</p>
    if(@programme.Start < DateTime.Now && DateTime.Now < (@programme.Stop))
    {
        string valuenow = DateTime.Now.ToString("hh") + DateTime.Now.ToString("mm");
        string valuemin = @programme.Start.ToString("hh") +@programme.Start.ToString("mm");
        string valuemax = @programme.Stop.ToString("hh") + @programme.Stop.ToString("mm");
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="@valuenow" aria-valuemin="@valuemin" aria-valuemax="@valuemax"></div>
        </div>
    }
    <p>@programme.Category</p>
    <img src="@programme.Image" class="img-thumbnail" style="width: 200px;"/>
    <p>@programme.Description</p>
    <hr />
}