@model TVGuide.Models.ViewModel

@{
    ViewData["Title"] = "Channel Page";
}

<center>
<img src="@Model.channel.Logo" style="max-width: 500px"/>
</center>
<br />
<hr/>
<div class="container">
        <table class="table table-hover">
        <tbody>
    @foreach(Programme prg  in Model.programs) 
    {
        <tr>
            @if(!string.IsNullOrEmpty(@prg.Image)) {
                            <td><img src="@prg.Image" width="65"/></td>
            }
            <td>@prg.Start.ToString("dddd dd MMMM")</td>
            <td scope="row"><p>@prg.Start.ToString("HH:mm")</p></td>
            <td>-</td>
            <td scope="row"><p>@prg.Stop.ToString("HH:mm")</p></td>
            <td><b>@prg.Title</b></td>
            <td>@prg.Category</td>
            <td>@prg.Description</td>
        </tr>
    }
    </tbody>
    </table>
</div>