@model TVGuide.Models.ViewModel

@{
    ViewData["Title"] = "Channel Page";
}

<center>
<img src="@Model.channel.Logo" style="height: 100%;"/>
</center>
<br />
<hr/>
<div class="container">

@foreach(Programme programme in Model.programs) 
{
    <div class="row">
    <div class="col-10">
        <p>@programme.Start.ToString("dddd dd MMMM yyyy")</p>
        <p style="color: red; font-weight: bold;">@programme.Start.ToString("HH:mm") - @programme.Stop.ToString("HH:mm")</p>
                <h3>@programme.Title</h3>
        <p>@programme.Category</p>
        <p style="color: #5b5b5b">@programme.Description</p>
    </div>
    <div class="col-2">
        <img src="@programme.Image" style="width: 100px;float: right;"/>
    </div>
    </div>
    <hr />
}

</div>