@model TonightViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

    <div class="card">
  <div class="card-body">
    <h5 class="card-title">@localizer["Welcome"]</h5>
    <p class="card-text">@localizer["WelcomeText"]</p>
  </div>
</div>
<hr />
@if(Model.programs.Any())
{
<div>
  <h2>  @localizer["Tonight"] @Model.channel.Name </h2>

        <div class="row no-gutters">
            <div class="col-auto">
                <img src="@Model.channel.Logo" class="img-fluid" alt="" style="max-height: 200px; max-width: 200px;">
            </div>
            <div class="col">
                <div class="card-block px-2 table-responsive">
                                        <table class="table">

                @foreach(var programme in Model.programs)
                {
                                            <tr>

                                            <td><img src="@programme.Image" class="img-responsive" alt="" style="max-height: 100px;"></td>
                                            <td><p class="card-text"><b>@programme.Start.ToString("HH:mm") - @programme.Title </b> <br /> @programme.Description</p>    </td>  
                                                                                    </tr>

                }

                </table>
                    <a class="btn btn-outline-danger" asp-controller="Channels" asp-action="Details" asp-route-id="@Model.channel.Id">@localizer["AllProgrammes"]</a>
                </div>
            </div>
        </div>
  </div>   
}
  <hr />
  @await Component.InvokeAsync("Now")