@model TonightViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["PageTitle"];
}

    <div class="card">
  <div class="card-body">
    <h5 class="card-title">@localizer["Welcome"]</h5>
    <p class="card-text">@localizer["WelcomeText"]</p>
  </div>
</div>
<hr />
@if(Model.programme != null)
{
              var firstProgramme = Model.programme;
    <h2> <a asp-controller="Channels" asp-action="Details" asp-route-id="@Model.channel.Id" ><img src="@Model.channel.Logo" class="img-fluid" alt="" style="max-height:3rem; max-width: 10%;"></a> @localizer["Tonight"] @Model.channel.Name</h2>
  <center>
      <a asp-controller="Channels" asp-action="Details" asp-route-id="@Model.channel.Id" >
    <figure class="figure">
  <img src="@firstProgramme.Image" class="figure-img img-fluid rounded w-75" alt="@firstProgramme.Category">
  <figcaption><h3 class="text-danger">@firstProgramme.Start.ToString("HH:mm") - @firstProgramme.Title</h3> </figcaption>
  <figcaption class="figure-caption">@firstProgramme.Description</figcaption>
</figure></a>
</center>
}

  @await Component.InvokeAsync("Now")