@model ViewModel
@{
    ViewData["Title"] = "Home Page";
}
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Welcome to the StarSat TV Guide</h5>
    <p class="card-text">Consult your TV program of this day and find out which TV shows are available on StarSat satellite receivers in Tunisia and North Africa that use sharing servers such as Forever, GShare, Vanilla and FunCam.</p>
    <a href="#" class="btn btn-outline-danger">View All Channels</a>
  </div>
</div>
<hr />
           <div>

  <h2>  Tonight on @Model.channel.Name </h2>

        <div class="row no-gutters">
            <div class="col-auto">
                <img src="@Model.channel.Logo" class="img-fluid" alt="" style="max-height: 200px;">
            </div>
            <div class="col">
                <div class="card-block px-2">
                @foreach(var programme in Model.programs)
                {
                <p class="card-text"><b>@programme.Start.ToString("HH:mm") - @programme.Title @programme.Category ? (@programme.Category)</b> @programme.Description</p>                    
                }
                    <a class="btn btn-outline-danger" asp-controller="Channels" asp-action="Details" asp-route-id="@Model.channel.Id">View @Model.channel.Name Programme of the day</a>
                </div>
            </div>
        </div>
  </div>

  <hr />