@model List<Programme>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["PageTitle"];
}

<h2>@localizer["SearchResults"] '@ViewBag.SearchQuery'</h2>
<div class="table-responsive">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">@localizer["Channel"]</th>
                <th scope="col">@localizer["Day"]</th>
                <th scope="col">@localizer["Time"]</th>
                <th scope="col">@localizer["Title"]</th>
                <th scope="col">@localizer["Category"]</th>
                <th scope="col">@localizer["Description"]</th>
            </tr>
        </thead>
        <tbody>
    @foreach(Programme prg  in Model) 
    {
        <tr>
            <td><img src="@prg.Channel.Logo" width="65"/></td>
            <td>@prg.Start.ToString("dddd dd MMMM")</td>
            <td scope="row"><p>@prg.Start.ToString("HH:mm")</p></td>
            <td><b>@prg.Title</b></td>
            <td>@prg.Category</td>
            <td>@prg.Description</td>
        </tr>
    }
    </tbody>
    </table>
    </div>